<nav class="navbar navbar-expand-lg navbar-primary bg-primary">
    <a class="navbar-brand" href="#">ChatApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="page-links">
            <ul class="navbar-nav mr-auto" *ngIf="auth.currentUser else loggedOut">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/chat" routeLinkActive="active">Chat rooms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="auth.logout()" routeLinkActive="active">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<ng-template #loggedOut>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/login" routeLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/signup" routeLinkActive="active">SignUp</a>
        </li>
    </ul>
</ng-template>